
.container-timer {
    padding: 0 156px 32px;
    max-width: 1440px;
    margin: 0 auto; 
}

.data-input {
    display: flex;
    gap: 8px;
    margin-top: 36px;
    margin-bottom: 32px;
    outline: none;
    width: 355px;
}

input {
    width: 272px;
    border-radius: 4px;
    padding: 8px; 
    box-shadow: none; 
    border: 1px solid #808080; 
}
input:hover{
    border: 1px solid #4E75FF; 
} 

input:disabled{
    background-color: #FAFAFA;
}

.data-input button {
    width: 75px;
    padding: 8px 16px;
    border: none;
    background-color: #4E75FF;
    color: #FFFF;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: 'Montserrat', sans-serif;
}

.data-input button:hover {
    background-color: #6C8CFF; 
}
.data-input button:disabled {
    background-color: #CFCFCF;
    color: #989898; 
    cursor: not-allowed;
}
.timer {
    display: flex;
    gap: 24px;
    font-family: 'Montserrat', sans-serif;
    
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.value{
    font-size: 40px;
    letter-spacing: 0.04em;
    font-weight: 400;

}
